node_modules/
.cache/
dist/
public/build/
.zip
*.log
*.apk
.DS_Store
Thumbs.db
*.exe
.parcel-cache/
.idea/
*.map
/.gradle/
/build/
local.properties
Pods/
DerivedData/
*.xcuserdata
/target/
/venv/
*.jar
*.pyc
.ap_
.lock
*.mp3
*.zip
android-app/app/build/outputs/apk/debug/app-debug.apk
build/
release/
.env
.env.*
.gradle/
debug/
Caches/
uploads/